body {
    margin: 0;
}

.fullscreen-vid video {
    /* display: flex; */
    position: fixed;
    /* max-height: 100vh; */
    max-width: 100vw;
    z-index: -2;
    background-color: black;
}

.gradient-overlay {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg-vid {
    min-width: 100%;    
}

/* ---------------------------------- header ----------------------------------*/

.header {
    display: flex;
    height: 6.25vh;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.header-div {
    display: flex;
    position: relative;
}

.header-item {
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: 100%;    
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.social-icon {
    align-content: center;
    padding: 5%;
}
.social-icon img {
    max-width: 100%;
    max-height: 100%;
}

/* ---------------------------------- menu bar ----------------------------------*/

.menu-bar {
    display: flex;
    position: relative;
    height: 50px;
    justify-content:space-evenly;
    background-color: rgba(255, 255, 255, 0.6);
}

.menu-item {
    display: flex;
    position: relative;
    align-items: center;
    
}

.menu-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

/*  TODO fix spacing issue 
a span.en, a:hover span.dn {
    display: inline;
}

a:hover span.en, a span.dn {
    display: none;
    font-style: italic;
}    */

/* ---------------------------------- venn menu ----------------------------------*/
.venn-menu {
    height: 500px;
    padding: 5%;
}

.venn-menu path {
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 0.3;
    transition: 0.5s;
}

.venn-menu path:hover {
    fill: rgb(255, 255, 255);
}


.venn-menu text {
    fill: rgb(107, 194, 35);
    font-size: 4pt;
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: middle;
    pointer-events: none;
}

/* ---------------------------------- footer ----------------------------------*/

.footer {
    width: 100%;
    height: 50vh;
    position: relative;
    background-color: black;

}

/* ---------------------------------- watch page ----------------------------------*/

h1 {
    text-align: center;
    color: aliceblue;
}

.grid {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 2%;
}

/* clear fix */
/* .grid:after {
  content: '';
  display: block;
  clear: both;
} */

.grid-sizer,
.grid-item {
  width: 350px;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* ---------------------------------- about page ----------------------------------*/

.about {
    width: 100%;
    height: 200px;
}