body {
    margin: 0;
}

.fullscreen-vid video {
    /* display: flex; */
    position: fixed;
    /* max-height: 100vh; */
    max-width: 100vw;
    z-index: -2;
    background-color: black;
}

.gradient-overlay {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg-vid {
    object-fit: cover;  
    width: 100vw;
    height: 100vh;
    
}

/* ---------------------------------- header ----------------------------------*/

.header {
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.header-div {
    display: flex;
    position: relative;
}

.header-item {
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: 100%;  
    padding: 5px;
}

.logo img {
    max-width: 30px;
    max-height: 30px;
}

.social-icon {
    align-content: center;
    padding: 5px;
}

.social-icon img {
    max-width: 20px;
    max-height: 20px;
}


/* ---------------------------------- menu bar ----------------------------------*/

.menu-bar {
    display: flex;
    position: relative;
    height: 50px;
    justify-content:space-evenly;
    background-color: rgba(255, 255, 255, 0.6);
}

.menu-item {
    display: flex;
    position: relative;
    align-items: center;
    
}

.menu-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

/*  TODO fix spacing issue 
a span.en, a:hover span.dn {
    display: inline;
}

a:hover span.en, a span.dn {
    display: none;
    font-style: italic;
}    */

/* ---------------------------------- venn menu ----------------------------------*/
.venn-menu {
    height: 600px;
    padding: 5%;
}

.venn-menu path {
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 0.3;
    transition: 0.5s;
}

.venn-menu path:hover {
    fill: rgb(255, 255, 255);
}


.venn-menu text {
    fill: rgb(107, 194, 35);
    font-size: 4pt;
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: middle;
    pointer-events: none;
}

/* ---------------------------------- footer ----------------------------------*/

.footer {
    width: 100%;
    margin-top: 100px;
    height: 20vh;
    position: relative;
    display: flex;
    background-color: rgb(196, 196, 196);

    color: rgb(17, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    flex-direction: column;
    align-items: center;

}

/* ---------------------------------- watch page ----------------------------------*/


h1 {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 2%;

  font-family: Arial, Helvetica, sans-serif;
}

.grid-desc {
    padding: 2px;
}

.grid-desc a {
    text-decoration: none;
    font-style: oblique;
    color: black;
    font-weight: bold;
    
}

/* clear fix */
/* .grid:after {
  content: '';
  display: block;
  clear: both;
} */

.grid-sizer,
.grid-item {
  width: 350px;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item img:hover{
    background-color: black;
}
/* ---------------------------------- about page ----------------------------------*/

.about-box {
    display: flex;
    flex-direction: column;

    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 14pt;

    
}

.about {
    font-size: 21pt;
}


/* ----------------------------------- extra ----------------------------------- */
.wip {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
}